# OSX
.DS_Store

# Vagrant
.vagrant/
ubuntu-xenial-16.04-cloudimg-console.log

# don't commit contract binaries in protocol
# we do commit the contract binaries in platform
contracts/bin/
contracts/abi/

# don't commit node_modules
node_modules

test/scripts/env_vars.sh
test/scripts/ost-price-oracle/
test/scripts/poa-genesis.json
test/scripts/pw
test/scripts/st-poa/

package-lock.json