# OSX
.DS_Store

.idea/

# Vagrant
.vagrant/
ubuntu-xenial-16.04-cloudimg-console.log

# don't commit node_modules
node_modules

mocha_test/scripts/env_vars.sh
mocha_test/scripts/ost-price-oracle/
mocha_test/scripts/poa-genesis.json
mocha_test/scripts/pw
mocha_test/scripts/st-poa/

package-lock.json
build/

contracts/abi/
contracts/bin/
