dist: trusty
language: node_js
sudo: required
branches:
  only:
  - master
  - develop
notifications:
  email:
    recipients:
      - ci.report@ost.com
    on_success: always
    on_failure: always
node_js:
  - "8"
before_install:
  - sudo apt-get update
  - sudo apt-get install nodejs
  - sudo apt-get install npm
  - sudo apt-get install software-properties-common
  - sudo add-apt-repository -y ppa:ethereum/ethereum
  - sudo apt-get update
install:
  - npm install
before_script:
  - nohup sh tools/runGanacheCli.sh </dev/null >/dev/null 2>&1 &
script:
  - truffle test
after_script:
  - kill $(ps aux | grep 'testrpc' | awk '{print $2}')
